<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ReportHelper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>
    <!-- common css -->
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
    <!-- easyui css -->
    <link rel="stylesheet" href="../../static/vendor/easyui-1.7.0/themes/metro/easyui.css"
          th:href="@{/vendor/easyui-1.7.0/themes/metro/easyui.css}"/>
    <link rel="stylesheet" href="../../static/vendor/easyui-1.7.0/themes/icon.css"
          th:href="@{/vendor/easyui-1.7.0/themes/icon.css}"/>
    <link rel="stylesheet" href="../../static/vendor/easyui-1.7.0/custom/themes/icon.css"
          th:href="@{/vendor/easyui-1.7.0/custom/themes/icon.css}"/>
    <!-- common js -->
    <script src="../../static/vendor/jquery.min.js" th:src="@{/vendor/jquery.min.js}"></script>
    <script src="../../static/vendor/jquery.extension.js" th:src="@{/vendor/jquery.extension.js}"></script>
    <script src="../../static/vendor/jquery-form/jquery.formautofill.min.js"
            th:src="@{/vendor/jquery-form/jquery.formautofill.min.js}"></script>
    <script src="../../static/vendor/jquery-form/jquery-form.min.js"
            th:src="@{/vendor/jquery-form/jquery-form.min.js}"></script>
    <script src="../../static/vendor/juicer/juicer-min.js"
            th:src="@{/vendor/juicer/juicer-min.js}"></script>
    <script src="../../static/vendor/moment.min.js" th:src="@{/vendor/moment.min.js}"></script>
    <!-- easyui js -->
    <script src="../../static/vendor/easyui-1.7.0/jquery.easyui.min.js"
            th:src="@{/vendor/easyui-1.7.0/jquery.easyui.min.js}"></script>
    <script src="../../static/vendor/easyui-1.7.0/locale/easyui-lang-zh_CN.js"
            th:src="@{/vendor/easyui-1.7.0/locale/easyui-lang-zh_CN.js}"></script>
    <!--<script src="../../static/custom/easyui-1.7.0/validate.extension.js"
            th:src="@{/custom/easyui/validate.extension.js}"></script>-->
    <!-- custom css -->
    <script src="../../static/js/utils/easyui.utils.js" th:src="@{'/js/utils/easyui.utils.js?v='+${version}}"></script>
    <script src="../../static/js/dynamic/init.js" th:src="@{'/js/dynamic/init.js?v='+${version}}"></script>
</head>
<body layout:fragment="content"></body>
</html>