<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../../static/images/common/favicon.ico"
          th:href="@{/images/common/favicon.ico}"/>

    <!--ZUI start-->
    <!--<link rel="stylesheet" href="../../static/vendor/zui-1.8.1/css/zui.css"
          th:href="@{/vendor/zui-1.8.1/css/zui.css}"/>-->

    <link rel="stylesheet" href="../../static/vendor/zui-1.8.1/css/zui.css"
          th:href="@{/vendor/zui-1.8.1/css/zui.css}"/>

    <script src="../../static/vendor/zui-1.8.1/js/zui.js" th:src="@{/vendor/zui-1.8.1/js/zui.js}"></script>
    <!--ZUI end-->

    <script src="../../static/js/home/jquery.menu.js" th:src="@{'/js/home/jquery.menu.js?v='+${version}}"></script>
    <script src="../../static/js/home/index.js" th:src="@{'/js/home/index.js?v='+${version}}"></script>

    <style>
        .menu-item-content-div:hover, #iconBars:hover {
            color: #0098CA;
        }

        #indexPageTabs .tabs-icon{
            width: 0px;
            height: 0px;
        }

        #indexPageTabs .tabs li a.tabs-close{
            background: none;
        }

    </style>

    <script th:inline="javascript">//引用
    var user = [[${user}]];//取值
    </script>

</head>


<body layout:fragment="content" style="min-width: 1080px;">

<div id="indexlayout" class="easyui-layout " data-options="collapsedContent:'collapsedContent',
onCollapse:function(){IndexMVC.Data.westPanelState = 'collapse'},onExpand:function(){IndexMVC.Data.westPanelState = 'expand'}"
     fit="true">
    <!-- 顶部  start -->
    <div region="north" data-options="border:false" style="height: 40px;">
        <div class="bg-1F2325 hp100 wip100 overflow-hidden">
            <div class="f18 color-FFFFFF hp100">
                <div class="fl mr15 hp100">
                    <div class="fl pt6 pl10 pr10"
                         style="border-right:1px solid hsla(0,0%,100%,.15);height: 39px;">
                        <i id="iconBars" class="icon icon-bars icon-2x cursor-p"
                           onclick="IndexMVC.Controller.toggleWest();"></i>
                    </div>
                    <div class="fl" style="padding: 6px 5px">
                        <span style="font-size: 18px; font-weight: bold; padding-left: 5px;">数据展示平台</span>
                    </div>
                    <div class="fl mt15 ml10">
                        <span class="f18 color-FFFFFF"></span>
                    </div>
                </div>

                <!-- 一级菜单  start -->
                <div id="indexPageMenuTitleTemplate" class="fl ml8 display-none cursor-p  hp100">
                    <div class="pl10 pr10 title  hp100 wip100"
                         style="vertical-align: middle;">
                    </div>
                </div>

                <div id="indexPageMenuTitleList">

                </div>
                <!-- 一级菜单  end -->

                <div class="fr ml8 mr20" style="">
                    <div title="修改密码" class="pl3 pr3 f12 cursor-p mt9 ml8"
                         onclick="IndexMVC.Controller.openUpdatePassDialog();">
                        <i class="icon icon-cog" style="font-size: 21px;"></i>
                    </div>
                </div>

                <div class="fr ml8 mr2" style="">
                    <div title="退出登录" class=" cursor-p mt7 ml8"
                         onclick="$('#indexPageTopNavLogoutModal').modal({backdrop: 'static'});">
                        <i class="icon icon-signout" style="font-size: 21px;"></i>
                    </div>
                </div>

                <div class="fr ml8 mr2 pt7 mr10" style="">
                    <div class="cursor-p overflow-hidden" onclick="$('#userInfoModal').modal({backdrop: 'static'});">
                        <div class="fl">
                            <i class="icon icon-user" style="background: none;font-size: 21px;"></i>
                        </div>
                        <div class="fl ml4 f14 pt3 ">欢迎您 ,
                            <span class="" th:text="${user.name}"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 顶部  end -->

    <!--  左部面板   start  -->
    <div data-options="region:'west',split:true,border:false" class="zi9999" style="width:200px;">
        <div id="index-layout-west" class="index-layout-west bg-1C2327">

            <div onclick="IndexMVC.Controller.switchWestLayout();" style="display: none;"></div>

            <div class="index-page-menu">
                <!--菜单样例   start-->
                <!--<ul class="bg-FFFFFF overflow-hidden" id="indexPageMenuUl">
                    <li id="indexPageMenuLi3" class="">
                        <a class="bg-336699" href="javascript:void(0);"
                           onclick="IndexMVC.Controller.openMentContent('3','https://dompapi.bluemoon.com.cn/bd-view-domp/views/index_system_manage.html#/system_manage_2_0_0/user_manage?token=6f3714d10e5d9ade461d5ca37c6f549e','用户管理')">
                            <div class="index-page-menu-icon"
                                 style="background-image: url('https://bdfile.bluemoon.com.cn/group1/M00/05/BE/wKg_HFnJr_eAGf5iAAAHU9Lavwg881.png');"></div>
                            <div class="fl pl2">用户管理</div>
                        </a>
                    </li>
                    <li id="indexPageMenuLi1085634118" class="bg-00A5DB">
                        <a href="javascript:void(0);">
                            <div class="index-page-menu-icon"
                                 style="background-image: url('https://bdfile.bluemoon.com.cn/group1/M00/05/BC/wKg_HFnJqU6AY2IOAAAAR6OpJx0637.png');"></div>
                            <div class="fl pl2">报表权限申请管理</div>
                        </a>
                        <ul id="indexPageMenuUl1085634118" class="bg-FFFFFF overflow-hidden">
                            <li id="indexPageMenuLi929261281" class="">
                                <a href="javascript:void(0);"
                                   onclick="indexPageModel.openMentContent('929261281','https://dompapi.bluemoon.com.cn/bd-view-domp/views/index.html#/permission_management/dept_report_management?token=6f3714d10e5d9ade461d5ca37c6f549e','业务负责人权限管理')">
                                <div class="index-page-menu-icon"
                                     style="background-image: url('https://bdfile.bluemoon.com.cn/group1/M00/05/BC/wKg_HFnJqU6AY2IOAAAAR6OpJx0637.png');"></div>
                                <div class="fl pl2">业务负责人权限管理</div>
                            </a></li>
                        </ul>
                    </li>
                </ul>-->
                <!--菜单样例   start-->

                <ul class="bg-1F2325 overflow-hidden" id="indexPageMenuUl0"></ul>
            </div>

        </div>
    </div>
    <!--  左部面板   end  -->

    <!-- 内容面板  start -->
    <div region="center" data-options="border:false">
        <div id="indexPageTabs" class="easyui-tabs"
             data-options="border:false" style="width:100%;height:100%;">
        </div>


    </div>
    <!-- 内容面板  end -->


</div>

<!-- tabs右键菜单  -->
<div id="main-tab-ctx-menu" class="easyui-menu" style="width: 120px;">
    <div id="m-current" data-options="name:'current',iconCls:'icon-cancel'">关闭当前页</div>
    <div id="m-others" data-options="name:'others',iconCls:''">关闭其他页</div>
    <div id="m-all" data-options="name:'all',iconCls:''">关闭所有页</div>
</div>


<!--主页tab中内容  start-->
<div id="indexPageHomeTabContent">
    <div id="indexPageHomeTab" class="">

        <!--首页默认展示内容 start-->
        <div id="indexPageHomeTabDefaultContent">


        </div>
        <!--首页默认展示内容 end-->

    </div>
</div>
<!--主页tab中内容  end-->


<!--用户信息  start-->
<div id="userInfoModal" class="modal fade" style="display: none;">
    <div class="modal-dialog " style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">账号信息</h4>
            </div>
            <div class="modal-body"
                 style="padding-left: 10px; padding-right: 10px;">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr">账号</div>
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" th:value="${user.account}" disabled="disabled"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr">姓名</div>
                        </label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" th:value="${user.name}" disabled="disabled"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr">手机号</div>
                        </label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" disabled="disabled" th:value="${user.mobile}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr">邮箱</div>
                        </label>

                        <div class="col-md-5">
                            <input class="form-control" disabled="disabled" th:value="${user.email}">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon icon-times"></i>&nbsp;关闭
                </button>
            </div>
        </div>
    </div>

</div>
<!--用户信息  end-->


<!--  注销确认对话框  start  -->
<div id="indexPageTopNavLogoutModal" class="modal fade" style="z-index: 99999;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">注销账户</h4>
            </div>

            <div class="modal-body">
                <h4 class="modal-title" style="padding-bottom: 20px;">确定注销账户吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon icon-times"></i>&nbsp;取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="window.location.href='/member/logout'"><i class="icon icon-check"></i>&nbsp;确定
                </button>
            </div>
        </div>
    </div>
</div>
<!--  注销确认对话框  end  -->


<!-- 重置密码 start-->
<div id="indexPageUpdatePass" class="modal fade" style="z-index: 99999;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">账户管理</h4>
            </div>
            <div class="modal-body"
                 style="padding-left: 10px; padding-right: 10px;">
                <div id="forceUpdatePwdTips" class="row fb color-FF0202 mb10 tc display-none">
                    <span>系统检测到你的密码与工号或姓名拼音相同，请先修改密码后重新登录！</span>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;"></div>
                            <div class="fr">账号</div>
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" th:value="${user.account}"
                                   id="indexPageUpdatePassUserAccount" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;"></div>
                            <div class="fr">姓名</div>
                        </label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" th:value="${user.name}"
                                   id="indexPageUpdatePassUserName" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;">*</div>
                            <div class="fr">手机号</div>
                        </label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" th:value="${user.mobile}"
                                   id="indexPageUpdatePassPhone">
                        </div>
                        <span id="indexPageUpdatePassErrorP3" class="col-md-4"
                              style="font-size: 13px; color: red;padding-top: 8px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;">*</div>
                            <div class="fr">原密码</div>
                        </label>

                        <div class="col-md-5">
                            <input type="password" class="form-control"
                                   id="indexPageUpdatePassOldPassword">
                        </div>
                        <span id="indexPageUpdatePassErrorP4" class="col-md-4"
                              style="font-size: 13px; color: red;padding-top: 8px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;">*</div>
                            <div class="fr">新密码</div>
                        </label>

                        <div class="col-md-5">
                            <input type="password" class="form-control"
                                   id="indexPageUpdatePassPassword">
                        </div>
                        <span id="indexPageUpdatePassErrorP1" class="col-md-4"
                              style="font-size: 13px; color: red;padding-top: 8px;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-right">
                            <div class="fr f17 color-EA644A" style="height:15px;width: 11px;">*</div>
                            <div class="fr">重新输入密码</div>
                        </label>

                        <div class="col-md-5">
                            <input type="password" class="form-control"
                                   id="indexPageUpdatePassPasswordAgainPassword">
                        </div>
                        <span id="indexPageUpdatePassErrorP2" class="col-md-4"
                              style="font-size: 13px; color: red;padding-top: 8px;"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="passwordCancelBtn" type="button" class="btn btn-default" data-dismiss="modal"><i
                        class="icon icon-times"></i>&nbsp;取消
                </button>
                <button id="indexPageSavePass" type="button"
                        class="btn btn-primary" data-loading-text="保存中..."
                        onclick="IndexMVC.Controller.checkOldPassIsCorrect()"><i class="icon icon-check"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 重置密码 end-->


<!--菜单模板   start-->
<ul id="indexPageMenuTempl" class="bg-1C2327 overflow-hidden" style="display: none">
    <li id="indexPageMenuLiTempl" class="overflow-hidden color-FFFFFF">
        <div class="menu-item-div overflow-hidden he40"
             onclick="IndexMVC.Controller.openMentContent('3','http://localhost:9003/home/index','用户管理')">
            <div class="menu-item-content-div bg-2F4056  hp100 wip100 overflow-hidden mt1 cursor-p pt6">
                <div class="fl menu-padding-left hp100"></div>
                <div class="fl menu-left-icon  hp100 wi10"></div>
                <div class="fl menu-name f14 pl2 pt4 "></div>
                <div class="fr menu-right-icon pr5 pt5"><i class="icon icon-angle-right"></i></div>
            </div>
        </div>
    </li>
</ul>
<!--菜单模板   start-->


</body>


</html>